pkgbase = libmali-valhall-g610
	pkgver = g13p0.10
	pkgrel = 1
	url = https://developer.arm.com/Processors/Mali-G610
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = custom
	options = !strip
	source = https://github.com/JeffyCN/mirrors/raw/8605a3c81b60ac5bd8e492cc02e84a2e0aa8e524/END_USER_LICENCE_AGREEMENT.txt
	source = libmali-wrapper
	sha256sums = a78acc73de9909efb879800d4daa4640c4aaa55cd751238a133954aba15e4285
	sha256sums = 564faeead74b92e6edd590a34b361994de9eff21586fd2e66097b33fe1639834
	source_aarch64 = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/aarch64-linux-gnu/libmali-valhall-g610-g13p0-dummy.so
	source_aarch64 = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/aarch64-linux-gnu/libmali-valhall-g610-g13p0-gbm.so
	source_aarch64 = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/aarch64-linux-gnu/libmali-valhall-g610-g13p0-wayland-gbm.so
	source_aarch64 = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/aarch64-linux-gnu/libmali-valhall-g610-g13p0-x11-gbm.so
	source_aarch64 = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/aarch64-linux-gnu/libmali-valhall-g610-g13p0-x11-wayland-gbm.so
	sha256sums_aarch64 = a83746b3a9e3b70ada5441f44eae6f36a89c17f3f78b35fbfdf89af1e6988e9f
	sha256sums_aarch64 = f329dd7809f3033b457d37209bce34a3e8e790e6126e215d1dff57c7a59c51bb
	sha256sums_aarch64 = 447dabfb1f3faa2aa4ee88aa9611840ff44635a1a3082b55d769900d6cd797f8
	sha256sums_aarch64 = 628fea07308dcca8c2fe9154cd62ba8a7dba0c5d6605e049deb9a8514624d562
	sha256sums_aarch64 = 3a6fcb0ada4c94410cca9f67634f45addde5202d14d52221bd0ad450200d2d2f
	source_armv7h = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/arm-linux-gnueabihf/libmali-valhall-g610-g13p0-dummy.so
	source_armv7h = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/arm-linux-gnueabihf/libmali-valhall-g610-g13p0-gbm.so
	source_armv7h = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/arm-linux-gnueabihf/libmali-valhall-g610-g13p0-wayland-gbm.so
	source_armv7h = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/arm-linux-gnueabihf/libmali-valhall-g610-g13p0-x11-gbm.so
	source_armv7h = https://github.com/JeffyCN/mirrors/raw/bd6bb095780f880bf8f368ef6770563a313aebb4/lib/arm-linux-gnueabihf/libmali-valhall-g610-g13p0-x11-wayland-gbm.so
	sha256sums_armv7h = d453d1d322fd12f2d93f8b9e71c5bb96a38c3550c64f83c5aa23cd6852a5d1a9
	sha256sums_armv7h = 40d45e5fdb8dfe2c5e3cf5fee517d4c2e38b89e2b3e65593575c9fb15db80269
	sha256sums_armv7h = 39b29041225ec4e7fe0474f983c40acca659c1a02598d0f6727aee77f86e036b
	sha256sums_armv7h = 34708b7738ed42b9fac1d48e995ca29f3cc52ce3641c286bedfc814bbf834f69
	sha256sums_armv7h = 30007066c412aa5a6398d2fe128d909d3091e62bfa85d607482335f3635ddd3a

pkgname = libmali-valhall-g610-base
	pkgdesc = License and wrapper for ARM Mali-G610
	optdepends = chrpath: To identify and fix rpath issues
	optdepends = dri2to3: Compatibility layer for Dri2-only driver
	optdepends = gl4es: OpenGL to OpenGLES translation layer

pkgname = libmali-valhall-g610-dummy
	pkgdesc = Blob driver for ARM Mali-G610, for dummy target
	install = install_dummy
	depends = libmali-valhall-g610-base
	depends = mali-valhall-g610-firmware
	provides = libmali
	provides = libmali-dummy

pkgname = libmali-valhall-g610-gbm
	pkgdesc = Blob driver for ARM Mali-G610, for gbm target
	install = install_gbm
	depends = libmali-valhall-g610-base
	depends = mali-valhall-g610-firmware
	provides = libmali
	provides = libmali-gbm

pkgname = libmali-valhall-g610-wayland-gbm
	pkgdesc = Blob driver for ARM Mali-G610, for wayland-gbm target
	install = install_wayland-gbm
	depends = libmali-valhall-g610-base
	depends = mali-valhall-g610-firmware
	provides = libmali
	provides = libmali-wayland-gbm

pkgname = libmali-valhall-g610-x11-gbm
	pkgdesc = Blob driver for ARM Mali-G610, for x11-gbm target
	install = install_x11-gbm
	depends = libmali-valhall-g610-base
	depends = mali-valhall-g610-firmware
	provides = libmali
	provides = libmali-x11-gbm

pkgname = libmali-valhall-g610-x11-wayland-gbm
	pkgdesc = Blob driver for ARM Mali-G610, for x11-wayland-gbm target
	install = install_x11-wayland-gbm
	depends = libmali-valhall-g610-base
	depends = mali-valhall-g610-firmware
	provides = libmali
	provides = libmali-x11-wayland-gbm
