pkgbase = ffmpeg-mpp
	pkgdesc = Complete solution to record, convert and stream audio and video supporting rockchip MPP hardware decoder
	pkgver = 6.1.1
	pkgrel = 1
	epoch = 2
	url = https://github.com/hbiyik/ffmpeg/
	arch = aarch64
	arch = arm7f
	license = GPL3
	makedepends = amf-headers
	makedepends = avisynthplus
	makedepends = clang
	makedepends = frei0r-plugins
	makedepends = git
	makedepends = ladspa
	makedepends = mesa
	makedepends = nasm
	makedepends = opencl-headers
	makedepends = mpp-git
	makedepends = libyuv
	makedepends = perl
	depends = aom
	depends = alsa-lib
	depends = cairo
	depends = bzip2
	depends = fontconfig
	depends = fribidi
	depends = glib2
	depends = glibc
	depends = gmp
	depends = gnutls
	depends = gsm
	depends = jack
	depends = lame
	depends = libass.so
	depends = libavc1394
	depends = libbluray.so
	depends = libbs2b.so
	depends = dav1d
	depends = libdrm
	depends = libfreetype.so
	depends = libharfbuzz.so
	depends = libgl
	depends = libiec61883
	depends = libjxl
	depends = libmodplug
	depends = libplacebo.so
	depends = libopenmpt.so
	depends = libpulse
	depends = libraw1394
	depends = librubberband.so
	depends = librsvg-2.so
	depends = libsoxr
	depends = libssh
	depends = libtheora
	depends = libva.so
	depends = libva-drm.so
	depends = libva-x11.so
	depends = libvdpau
	depends = vid.stab
	depends = libvorbisenc.so
	depends = libvorbis.so
	depends = libvpx.so
	depends = libwebp
	depends = libx11
	depends = libx264.so
	depends = libx265.so
	depends = libxcb
	depends = libxext
	depends = libxml2
	depends = libxv
	depends = libxvidcore.so
	depends = libzimg.so
	depends = ocl-icd
	depends = onevpl
	depends = opencore-amr
	depends = openjpeg2
	depends = opus
	depends = snappy
	depends = rav1e
	depends = sdl2
	depends = speex
	depends = srt
	depends = v4l-utils
	depends = xz
	depends = zlib
	depends = mpp-git
	depends = libyuv
	depends = librist
	depends = librga-multi
	optdepends = avisynthplus: AviSynthPlus support
	optdepends = frei0r-plugins: Frei0r video effects support
	optdepends = ladspa: LADSPA filters
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libpostproc.so
	provides = libswresample.so
	provides = libswscale.so
	provides = ffmpeg=6.1.1-1
	provides = ffmpeg-obs=6.1.1-1
	conflicts = ffmpeg
	conflicts = ffmpeg-mpp
	options = !lto
	options = strip
	source = git+https://git.ffmpeg.org/ffmpeg.git?#tag=6f4048827982a8f48f71f551a6e1ed2362816eec
	source = obs-deps::git+https://github.com/obsproject/obs-deps.git#tag=2023-04-03
	source = add-av_stream_get_first_dts-for-chromium.patch
	source = rkmpp-6.patch
	validpgpkeys = DD1EC9E8DE085C629B3E1846B18E8928B3948D64
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 555274228e09a233d92beb365d413ff5c718a782008075552cafb2130a3783cf976b51dfe4513c15777fb6e8397a34122d475080f2c4483e8feea5c0d878e6de
	b2sums = 08f74bac9a3ae1cdac86778551220596ae639bc2483b20acfecb4c02cb1d2774330cb02778e26a71c8f041a8eb47a16b4b8a7053979fad6881e46d8b8beaa2a9

pkgname = ffmpeg-mpp
