name: reusable-release

on:
  workflow_call:
    inputs:
      arch:
        description: "Architecture tag"
        required: true
        type: string
      packages:
        description: "JSON array of packages to build"
        required: true
        type: string

jobs:

  getassets:
    runs-on: ubuntu-latest
    outputs:
      assets-found: ${{ steps.check.outputs.found }}
    steps:
      - uses: robinraju/release-downloader@v1
        with:
          tag: ${{ inputs.arch }}
          fileName: '*'
          out-file-path: 'oldassets'

      - id: check
        run: |
          if [ -n "$(ls -A oldassets)" ]; then
            echo "found=true" >> $GITHUB_OUTPUT
          else
            echo "found=false" >> $GITHUB_OUTPUT
          fi
      - run: ls -la ${{ github.workspace }}/oldassets

      - name: zip artifacts
        if: always()
        run: zip -j0 oldassets.zip oldassets/*

      - uses: actions/upload-artifact@v4
        with:
          name: old-assets
          path: oldassets.zip

  build:
    needs: getassets
    continue-on-error: true
    strategy:
      matrix:
        runner:
          - ${{ (
                inputs.arch == 'alarm-aarch64' || 
                inputs.arch == 'alarm-armv7h'
              ) && 'ubuntu-24.04-arm' || 'ubuntu-24.04'
            }}
        package: ${{ fromJson(inputs.packages) }}

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: old-assets

      - name: prepare old packages
        run: |
          mkdir -p agr/tarballs/native/repo
          mkdir -p upload
          unzip -d agr/tarballs/native/repo oldassets.zip
          for package in ${{ matrix.package }}; do
            cp -rf agr/tarballs/native/repo/$package-*.pkg.* upload/ || true
          done
          ls -la agr/tarballs/native/repo
          ls -la upload

      - name: Build ${{ matrix.package }}
        uses: hbiyik/agr@master
        with:
          package: ${{ matrix.package }}
          skippgpcheck: true
          ignorearch: true
          os: ${{ inputs.arch }}

      - name: prepare built packages to upload
        if: always()
        run: |
          for package in ${{ matrix.package }}; do
            cp -rf agr/tarballs/native/repo/$package-*.pkg.* upload/ || true
          done
          zip -j0 "${{ matrix.package }}.zip" upload/*

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: build-${{ matrix.package }}
          path: ${{ matrix.package }}.zip

  genrepo:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: build-*
          path: zips
          merge-multiple: true

      - run: |
          mkdir -p repo
          unzip -o -d repo "zips/*"
          ls -la repo

      - uses: actions/checkout@v4
        with:
          path: agrrepo

      - uses: ./agrrepo/.github/actions/sync
        with:
          tag: ${{ inputs.arch }}
          reponame: boogie
          pkgext: ${{ (inputs.arch == 'alarm-aarch64' || inputs.arch == 'alarm-armv7h') && 'tar.xz' || 'tar.zst' }}
